services:
  adguard:
    image: adguard/adguardhome
    container_name: adguard
    network_mode: host
    volumes:
      - ./adguard/work:/opt/adguardhome/work
      - ./adguard/conf:/opt/adguardhome/conf
    restart: unless-stopped

  traefik:
    image: traefik:v3.0
    container_name: traefik
    network_mode: host
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--entrypoints.web.address=:80"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped

  backend:
    build: ./backend
    container_name: nestjs
    network_mode: host
    restart: unless-stopped
